@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Gugi|ZCOOL+KuaiLe');

body{
    font-family:Gugi;
    background-image:url(https://source.unsplash.com/random/?couple);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:100vh;
    overflow: hidden;
    user-select: none;
}
input{
    border:none;
    background:none;
    outline: none;
    border-bottom:1px solid #000;
    box-sizing: border-box;
    height:50px;
}
::-webkit-input-placeholder{
    color:#000;
    font-family: Gugi;
    font-size:20px;
    font-weight: normal;
}
h2{
    width:500px;
    font-size:45px;
}
p{
    width:500px;
    font-size:25px;
}

#wrap{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:500px;
    height:500px;
    
}
.background{
    background:rgba(255,255,255,0.8);
    width:100%;
    height:100%;
    position: relative;
}
.title{
    position: absolute;
    font-size:20px;
    top:5px;
    left:30px;
    font-family: ZCOOL KuaiLe;
    font-weight: normal;
    color:rgba(0,0,0,0.2);
}
.copyright{
    position: absolute;
    display: block;
    bottom:10px;
    right:10px;
    font-family: ZCOOL KuaiLe;
    color:rgba(0,0,0,0.3);
}
.container{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


form{
    
}
.userName{
   
}
.greeting{
    text-align:center;
    display:none;
}
.askName{
    display:none;
}
.askMate{
    display:none;
}
.askMate input{
    border-bottom:none;
}
.askMateName{
    display:none;
}
.askDate{
    display:none;
}
.askDate input{
    border-bottom:none;
    height:auto;
}
.reDo{
    display:none;
    text-align: center;
    color:#000;
    font-size:20px;
}
.js-couple{
    display:none;
    margin-top:0;
}
.js-days{
    display: none;
    font-size:30px;
}

.showing{
    display:block;
}
.hiding{
    display:none;
}