@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Gugi');

body{
    font-family:Gugi;
    background-image:url(https://source.unsplash.com/1920x800/?couple);
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100vh;
}
input{
    border:none;
    background:none;
    outline: none;
    border-bottom:1px solid #000;
    padding-bottom:10px;
    box-sizing: border-box;
}
::-webkit-input-placeholder{
    color:#000;
}
h2{
    font-size:45px;
}
p{
    font-size:25px;
}

#wrap{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:500px;
    height:500px;
    
}
.background{
    background:rgba(255,255,255,0.5);
    width:100%;
    height:100%;
    position: relative;
}
.container{
    /* padding-top:120px;
    box-sizing: border-box; */
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


form{
    
}
.userName{
   
}
.greeting{
    text-align:center;
    display:none;
}
.mateName{
    
    margin-top:30px;
}

.askName{
    display:none;
}
.askMate{
    display:none;
}
.askMate input{
    border-bottom:none;
}
.askMateName{
    display:none;
}
.askDate{
    display:none;
}
.askDate input{
    border-bottom:none;
}
.reDo{
    display:none;
    text-align: center;
    color:#000;
    font-size:20px;
}
.js-couple{
    display:none;
}
.js-days{
    display: none;
    font-size:30px;
}

.showing{
    display:block;
}
.hiding{
    display:none;
}